body{
    background-color: lightblue;
    font-family: Arial;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.caixa{
    background-color: white;

    width: 450px;

    padding: 40px;

    text-align: center;

    border: 2px solid black;
}

input{
    padding: 5px;
    width: 80px;
}

button{
    padding: 5px;
    margin-left: 5px;
}

#mensagem{
    margin-top: 20px;
    font-weight: bold;
}

h1{
    font-size: 35px;
}

p{
    font-size: 20px;
}

input{
    width: 120px;
    padding: 10px;
    font-size: 18px;
}

button{
    padding: 10px;
    font-size: 18px;
}